.card{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    user-select: none;
    cursor:pointer;
    user-select: none;
    border-radius: 15px ;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    width:300px;
    padding:30px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.time{
    width:90%;
    font-size: 11px;
    display:flex;
    justify-content: space-between;
}
.time>p{
    margin-top:5px;
}
.slider{
    width:90%; 
    accent-color:rgba(216, 199, 202, 0.8);
    cursor: pointer;
}

.cd{
    position: relative;
    width:70%;
}
@keyframes revolve{
    from{transform:rotate(0deg)}
    to{transform:rotate(360deg)}
}

.cd>img{
    width:100%;
    border-radius: 50%;
    animation: revolve 7s linear infinite normal forwards;
}
.circle{
    position: absolute;
    width:30%;
    height:30%;
    border:2px solid white;
    border-radius: 50%;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    top:35%;
    left:35%;
}
.title{
    margin-top:10px;
    margin-bottom:0px;
    font-size: 18px;
    font-weight: 590;
    color: #333333;
}
.author{
    margin-top:5px;
    font-size: 14px;
    font-weight: 500;
    color:rgba(0, 0, 0,0.5);
}
.button-container{
    width:90%;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.button{
    width:28px;
    height:28px;
    padding:8px;
    border-radius:50%;
    background-color: white;
}

.loopActive{
    color:rgb(245, 159, 175);
}

@media only screen and (max-width:750px){
    .card{
        margin:30px;
        width:250px;
    }
    
}