.playListSong{
    height:90px;
    list-style: none;
    color: #000;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.4);
    display:flex;
    justify-content: space-between;
    padding:0 20px;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.playListSong:hover{
    border: solid 2px white;
}
.img-detail{
    display: flex;
    align-items: center;
}
.img-detail img{
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-right: 20px;
}

.play-gif{
    visibility: hidden;
}


.song-detail h3,.song-detail p{
    width:250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis ;
    margin: 0;
    padding:0;
}
h3{
    font-weight:600;
}
.song-detail p{
    font-size:14px;
}