.playList{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    height: 100%;
    width:100%;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    overflow:auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    color:rgba(0, 0, 0,0.9);
}
.playList::-webkit-scrollbar {
    display: none;
}
ul{
    padding: 0;
    margin:0;
}
  
.heading{
    display: flex;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
}
