body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background:rgb(183, 230, 230);
}
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 15px auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    color:black;
    font-weight:bolder;
    animation: 
      typing 4.5s steps(40, end) infinite alternate,
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }

.app{
    height:100vh;
    width:100vw;
    margin-top:0px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    font-family: 'Inter', sans-serif;
    color: grey;
}
.card{
    cursor:pointer;
    user-select: none;
    border:2px solid white;
    border-radius: 15px ;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    width:300px;
    padding:30px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.time{
    width:90%;
    font-size: 11px;
    display:flex;
    justify-content: space-between;
}
.time>p{
    margin-top:5px;
}
.slider{
    width:90%; 
    accent-color: rgb(122,174,205);
}

.cd{
    position: relative;
    width:70%;
}
@keyframes revolve{
    from{transform:rotate(0deg)}
    to{transform:rotate(360deg)}
}

.cd>img{
    width:100%;
    border: 2px solid white;
    border-radius: 50%;
    animation: revolve 7s linear infinite normal forwards;
}
.circle{
    position: absolute;
    width:30%;
    height:30%;
    border:2px solid white;
    border-radius: 50%;
    background-color:rgb(255, 255, 255);
    box-shadow: inset 0 0 50px rgb(183, 230, 230);
    top:35%;
    left:35%;
}
.title{
    margin-top:10px;
    margin-bottom:0px;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}
.author{
    margin-top:5px;
    font-size: 13px;
}
.button-container{
    width:90%;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.button{
    width:28px;
    height:28px;
    padding:8px;
    border-radius:50%;
    background-color: white;
}
.loopActive{
    color:rgb(122,174,205);
}
@media only screen and (max-width:400px){
    .card{
        width:220px;
        padding:50px 20px;
    }
    .typewriter h1{
        font-size:25px;
        margin-top:5px;
        padding-top: 0;
    }
}
